version: '3.8'

services:
  app:
    build: .
    container_name: flask_api
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db
    restart: always
    # networks:
    #   - mynetwork

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
    # networks:
    #   - mynetwork

volumes:
  db_data:

# networks:
#   mynetwork:
#     driver: bridge
