version: "3.9"

services:
  api:
    image: projetodevops-api
    container_name: flask_api
    ports:
      - "5000:5000"  # Porta interna do Flask
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  db_data:
