version: "3.9"

services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - mynetwork

  flask_api:
    image: vitoriarx/projetodevops-api:latest
    container_name: flask_api
    ports:
      - "5000:5000"
    environment:
      DB_HOST: postgres_db
      DB_NAME: mydb
      DB_USER: user
      DB_PASS: password
    depends_on:
      - postgres_db
    networks:
      - mynetwork

networks:
  mynetwork:

volumes:
  pgdata:
