name: CI/CD - Flask CRUD + PostgreSQL

on:
  push:
    branches:
      - main

jobs:

  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install app dependencies
        run: |
          pip install -r app/requirements.txt || true
          pip install pytest || true

      - name: Run tests
        run: pytest || true


  deploy:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Image Tag
        run: echo "IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/flask-crud-api:${IMAGE_TAG} ./app
          docker push ${{ secrets.DOCKER_USERNAME }}/flask-crud-api:${IMAGE_TAG}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ${{ secrets.REPO_DIR }}
            git pull origin main
            IMAGE_TAG=${IMAGE_TAG} docker compose -f docker-compose.prod.yml pull
            IMAGE_TAG=${IMAGE_TAG} docker compose -f docker-compose.prod.yml up -d --remove-orphans
